#
# Tup-config configuration
#
mainmenu "Tup-config Configuration"

source conf/Kconfig
source mconf/Kconfig
source nconf/Kconfig
source gconf/Kconfig
source qconf/Kconfig
source zconf/Kconfig
source lxdialog/Kconfig

menu "Toolchain setup"

menu "C compiler"

config CC
	string "C compiler"
	default "gcc"

config CFLAGS
	string "C compiler flags"
	default "-g -O2 -Wall"

endmenu # "C compiler"

menu "C++ compiler"

config CXX
	string "C++ compiler"
	default "g++"

config CXXFLAGS
	string "C++ compiler flags"
	default "-g -O2 -Wall"

endmenu # "C++ compiler"

menu "Archiver"

config AR
	string "Archiver"
	default "ar"

config ARFLAGS
	string "Archiver flags"
	default "rcs"

endmenu # "Archiver"

config LEX
	string "Lexical analyzer generator"
	default "flex"

config YACC
	string "Parser generator"
	default "bison"

config GPERF
	string "Perfect hash function generator"
	default "gperf"

config PKG_CONFIG
	string "Package meta data"
	default "pkg-config"

config MOC
	string "Qt meta object compiler"
	default "moc"

config CROSS_COMPILE
	string "Set the cross-compiler prefix"

endmenu # "Toolchain setup"
